@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Erişim Reddedildi</title>
</head>
<body>
    <h2>Erişim Reddedildi</h2>
    <p>Bu sayfaya erişim izniniz yok.</p>
    <a asp-action="Login" asp-controller="Auth">Giriş Sayfası</a>
</body>
</html>
