@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<!-- Kendi Stil Dosyan -->
<link rel="stylesheet" href="~/css/style.css" />

<h2>Hoş geldiniz</h2>
<p>Bu alan giriş yapmış normal kullanıcılar içindir.</p>
